@import "tailwindcss";
@plugin "tailwindcss-animate";
@import "./reset.css";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --brand-primary: #007f87;
  --brand-secondary: #006d8e;

  --state-primary: #008f99;
  --state-secondary: #0081a7;
  --state-danger: #d94d4c;

  --line-gray: #bdbdbd;

  --blue-400: #33999f;
  --blue-300: #54a9af;
  --blue-200: #8ac4c8;
  --blue-100: #b0d7da;
  --blue-50: #e6f2f3;

  --red-400: #e17170;
  --red-300: #e68887;
  --red-200: #eeadad;
  --red-100: #f3c8c8;
  --red-50: #fbeded;

  --gray-400: #222222;
  --gray-300: #616161;
  --gray-200: #9e9e9e;
  --gray-100: #eeeeee;
  --gray-50: #f5f5f5;

  --btn-disabled: #9e9e9e;

  --progress-bar: #d9d9d9;

  --white: #fff;
  --black: #000;

  --max-width: 600px;
}

@theme inline {
  /****************************
  * Colors
  ****************************/
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-brand-primary: var(--brand-primary);
  --color-brand-secondary: var(--brand-secondary);

  --color-state-primary: var(--state-primary);
  --color-state-secondary: var(--state-secondary);
  --color-state-danger: var(--state-danger);

  --color-line-gray: var(--line-gray);

  --color-blue-400: var(--blue-400);
  --color-blue-300: var(--blue-300);
  --color-blue-200: var(--blue-200);
  --color-blue-100: var(--blue-100);
  --color-blue-50: var(--blue-50);

  --color-red-400: var(--red-400);
  --color-red-300: var(--red-300);
  --color-red-200: var(--red-200);
  --color-red-100: var(--red-100);
  --color-red-50: var(--red-50);

  --color-gray-400: var(--gray-400);
  --color-gray-300: var(--gray-300);
  --color-gray-200: var(--gray-200);
  --color-gray-100: var(--gray-100);
  --color-gray-50: var(--gray-50);

  --color-white: var(--white);
  --color-black: var(--black);

  --color-btn-disabled: var(--btn-disabled);

  --color-progress-bar: var(--progress-bar);

  /****************************
  * Fonts
  ****************************/
  --font-sans: var(--font-pretendard);
  --font-pretendard: var(--font-pretendard);

  /****************************
  * shadows
  ****************************/
  --shadow-xl: 0 4px 10px rgba(0, 0, 0, 0.25);

  /****************************
  * Max Width
  ****************************/
  --max-width: var(--max-width);
}

/****************************
  * Button Components
  ****************************/
@layer components {
  .btn {
    @apply rounded-lg text-base leading-[150%] font-bold h-14 py-3 cursor-pointer flex justify-center items-center gap-2 border border-transparent;
  }

  .btn-primary {
    @apply bg-brand-primary text-white;
  }

  .btn-secondary {
    @apply bg-brand-secondary text-white;
  }

  .btn-neutral {
    @apply bg-white text-gray-400 border border-gray-200;
  }

  .btn-white {
    @apply bg-white text-gray-300 border border-gray-100;
  }

  .btn-danger {
    @apply bg-state-danger text-white;
  }

  .btn-rounded {
    @apply w-12 h-12 rounded-full p-0 shadow-sm;
  }

  .btn-md {
    @apply w-1/2;
  }

  .btn-lg {
    @apply w-full;
  }

  .btn-disabled {
    @apply bg-btn-disabled text-white cursor-not-allowed;
  }
}

/****************************
  * SubscriptionCard Components
  ****************************/
@layer components {
  .item-subtext {
    @apply text-sm text-gray-300;
  }
  .item-subtext span:not(:last-child)::after {
    content: "";
    @apply inline-block w-px h-[9px] bg-line-gray mx-2;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

/****************************
  * Sns Login Button Components
  ****************************/
@layer components {
  .kakao-login {
    @apply bg-[#FFE400] text-gray-400;
  }
  .naver-login {
    @apply bg-[#00CB4B] text-white;
  }
  .google-login {
    @apply bg-white text-gray-400 border border-gray-100;
  }
}

/****************************
  * Typography
  ****************************/
@layer components {
  .header-lg {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 110%;
  }

  .header-md {
    font-size: 1.5rem; /* 24px */
    font-weight: 700;
    line-height: 110%;
  }

  .title-lg {
    font-size: 1.25rem; /* 20px */
    font-weight: 700;
    line-height: 110%;
  }

  .title-md {
    font-size: 1.125rem; /* 18px */
    font-weight: 700;
    line-height: 110%;
  }

  .body-lg {
    font-size: 1rem; /* 16px */
    font-weight: 500;
    line-height: 150%;
  }

  .body-md {
    font-size: 0.875rem; /* 14px */
    font-weight: 500;
    line-height: 150%;
  }

  .label-lg {
    font-size: 0.75rem; /* 12px */
    font-weight: 500;
    line-height: 110%;
  }

  .label-md {
    font-size: 0.6875rem; /* 11px */
    font-weight: 500;
    line-height: 110%;
  }
}

/****************************
  * Text Button Components
  ****************************/
@layer components {
  .text-button-sm,
  .text-button-md,
  .text-button-lg {
    @apply text-gray-300 cursor-pointer;
  }

  .text-button-sm {
    @apply text-sm;
  }

  .text-button-md {
    @apply text-base;
  }

  .text-button-lg {
    @apply text-lg;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-pretendard), sans-serif;
}
